.customButton {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: padding 0.3s ease;
    padding: 0.8rem 0;
    border-color: var(--blanco-miau);
    font-family: '__approach_af6358';
}


.customButton:hover {
    padding: 1rem 1rem !important;
}