.customButton {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: padding 0.3s ease;
    font-family: '__approach_af6358';
}


.customButton:hover {
    padding: 0.6rem 1.2rem !important;   
}