.mainSectionWrapper {
    flex-direction: column;
    width: 100vw;
    height: 100%;
    min-height: 35vh;
    padding: 1rem 2rem;
}

.mainSectionWrapper.center {
    align-items: center;
}

.primaryContainerWrapper {
    flex-direction: row;
    height: 75vh;
}

.primaryContainer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 15%;
    height: 100%;
    flex: 1;
}

.primaryContainer h2 {
    max-width: 13ch;
    font-weight: 700;
}

.primaryContainer h3 {
    max-width: 25ch;
    font-weight: 600;
    color: var(--azul-escuro-miau)
}

.primaryContainer p {
    max-width: 30ch;
    font-weight: 200;
}

.primaryContainerRight {
    justify-content: flex-start;
    flex-direction: row;
    flex: 2;
}

.tutorMockup {
    max-width: 700px;
    right: 0;
    position: absolute;
}

.wrapperContainerTips {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

.containerTips {
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 40%;
    gap: 1rem;
}

.containerTips h3 {
    color: var(--blanco-miau);
    font-weight: 600;
}

.containerTips p {
    color: var(--blanco-miau);
    font-weight: 200;
    font-size: 0.9rem;
    text-align: center;
    max-width: 30ch;
}

.custom-shape-divider-top-1714100264 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1714100264 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 85px;
}

.custom-shape-divider-top-1714100264 .shape-fill {
    fill: var(--blue-miau);
}

.storyContainerWrapper {
    flex-direction: row;
    justify-content: center;
}

.storyContainerWrapper.reverse {
    flex-direction: row-reverse;
}

.storyContainerTexts {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 10%;
}

.storyContainerTexts h2 {
    max-width: 20ch;
    font-size: 2.5rem;
    font-weight: 700;
}

.storyContainerTexts p {
    max-width: 30ch;
}

.storyContainerTexts p span {
    color: var(--blue-miau);
    font-weight: 600;
}

.storyImgMockup {
    max-width: 550px;
    right: 20%;
    position: relative;
}

.storyImgMockup.reverse {
    left: 30%;
    top: 5%;
}

.uniqueGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 75%;
    margin-bottom: 10rem;
}

.uniqueContainerItem {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.8rem;
    align-items: flex-start;
    padding: 1rem;
    height: 100%;
    border: 1px solid var(--blanco-miau);
    border-radius: var(--min-radius);
}

.uniqueContainerItem.whiteBg {
    background-color: var(--blanco-miau);
}

.uniqueContainerItem.whiteBg h3 {
    color: var(--blue-miau);
}

.uniqueContainerItem h3 {
    font-weight: 600;
    max-width: 15ch;
    font-size: 1.6rem;
    color: var(--blanco-miau);
}

.uniqueContainerItem.whiteBg p {
    color: var(--blue-miau);
}

.uniqueContainerItem p {
    font-weight: 200;
    font-size: 0.9rem;
    max-width: 20ch;
    color: var(--blanco-miau);
}

.whyUnique {
    color: var(--blanco-miau);
    font-size: 2rem;
    /* margin-bottom: 2rem; */
    margin: 2rem 0
}

/* wide screen */
@media (min-width: 1800px) {
    .tutorMockup {
        right: 20%;
    }

    .storyImgMockup {
        left: 20%;
    }

    .uniqueGridContainer {
        width: 50%;
    }

}

/* tablet and min screen */
@media (min-width: 701px) and (max-width: 1120px) {
    .tutorMockup {
        max-width: 400px;
        top: 30%;
    }

    .storyImgMockup {
        right: 0;
    }

    .storyImgMockup.reverse {
        left: 20%;
    }

    .uniqueGridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {

    .primaryContainerWrapper {
        flex-direction: column-reverse;
        flex: 1;
        gap: 10rem;
        min-height: 100vh;
    }

    .mainSectionWrapper {
        height: 100%;
    }


    .primaryContainer {
        flex: 5;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0;
        gap: 2rem;
    }

    .primaryContainer h2 {
        font-size: 2rem;
    }


    .tutorMockup {
        max-width: 490px;
    }

    .wrapperContainerTips {
        flex-direction: column;
        height: 100%;
        padding: 2rem 0;
        gap: 2rem;
    }

    .containerTips {
        width: 100%;
    }

    .storyContainerWrapper {
        flex-direction: column;
    }

    .storyContainerWrapper.reverse {
        flex-direction: column;
    }

    .storyContainerWrapper h2 {
        font-size: 1.5rem;
    }

    .storyContainerWrapper p {
        font-size: 0.9rem;
    }

    .storyImgMockup {
        right: 0;
    }

    .storyImgMockup.reverse {
        left: 0;
        top: 0;
    }

    .storyContainerTexts {
        align-items: center;
        margin-left: 0;
    }

    .storyContainerTexts h2 {
        text-align: center;
    }

    .storyContainerTexts p {
        text-align: center;
    }

    .uniqueGridContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .whyUnique {
        font-size: 1.75rem;
    }
}