.wrapper {
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    background-color: var(--blue-miau);
    position: relative;
    z-index: 5;
}

.wrapper h5 {
    font-weight: 200;
    color: var(--blanco-miau);
}

.containerSectionTop {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.storeButtonWrapper {
    border: none;
    border-radius: var(--min-radius);
    padding: 5px 10px;
    cursor: pointer;
    border: 0.10rem solid var(--blanco-miau);
    background-color: transparent;
    margin-right: 2rem;
    transition: background-color 0.5s ease;
}

.storeButtonWrapper:hover {
    background-color: #738fff;
}


.custom-shape-divider-bottom-1713745262 {
    position: absolute;
    bottom: 60%;
    left: 0;
    width: 160%;
    overflow: hidden;
    line-height: 0;
    z-index: -5;
}

.custom-shape-divider-bottom-1713745262 svg {
    position: relative;
    display: block;
    width: calc(182% + 1.3px);
    height: 183px;
}

.custom-shape-divider-bottom-1713745262 .shape-fill {
    fill: var(--blue-miau);
}