.main {
  padding: 0rem 2rem;
}

.backgroundBlueMiau {
  background-color: var(--blue-miau);
}

.loveCareTitle {
  color: var(--blanco-miau);
  font-weight: 700;
}

.bolder {
  font-weight: 700;
}

.homeText {
  word-spacing: 0.3rem;
}

.homeParagraph {
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
  padding-bottom: 20%;
}

.wrapper {
  min-height: 85vh;

  flex-direction: column;
  justify-content: space-evenly;
}

.homeSectionOneRow {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.techTitle {
  font-weight: 700;
}

.homeSectionRowImg {
  position: relative;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 65/45;
}

.wrapperAlignSections {
  align-items: center;
}

.wrapperContainerSecondSection {
  width: 100%;
  height: 45vh;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: var(--md-radius);
  background-color: var(--blanco-miau);
}

.rowWrapper {
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1rem;
}


.microBoxIconContainer {
  flex-direction: row;
  column-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  width: 100%;
}

.microBoxMarginInRight {
  margin-right: 7.1rem;
}

.containerBox {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  width: 16rem;
  height: 10rem;
  border-radius: var(--md-radius);
  position: relative;
}

.containerBoxBlue {
  background-color: var(--blue-miau);
  bottom: 4rem;
}


.boxParagraph {
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--paragraph-light-blue);
}

.grayParagraphColor {
  color: var(--paragraph-light-gray) !important;
}

.boxTitle {
  color: var(--blanco-miau);
}

.blueBoxTitle {
  color: var(--azul-escuro-miau);
}

.loveCareContainer {

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.5rem;
  width: 18rem;
  height: 25rem;
  text-align: center;
  background-color: var(--blanco-miau);
  border-radius: var(--md-radius);
  white-space: pre-line;
}

.loveCareContainer h3 {
  color: var(--azul-escuro-miau);
  margin-top: 5rem;
}

.loveCareContainer p {
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--paragraph-light-gray);
}

.loveCareContainer div {
  position: relative;
}


.imageBottomGap {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%)
}

.firstTester {

  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.firstTester div {
  width: 46%;
}

.firstTester h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

.firstTester div {

  flex-direction: column;
  align-items: flex-start;
}


.mockupMobileImg {
  position: absolute;
  top: -1.2rem;
  left: 70%;
  transform: translateX(-50%)
}

.wrapperEvidences {
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  /* height: 100%; */
}

.wrapperEvidences h2 {
  font-weight: 600;
  color: var(--blanco-miau);
}

.wrapperEvidences p {
  font-weight: 200;
  color: var(--blanco-miau);
}

.wrapperEvidencesRow {
  flex-direction: row;
  column-gap: 3rem;
}

.evidences {
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
  height: 150px;
  background-color: var(--blanco-miau);
  border-radius: var(--min-radius);
}

.evidencesRowImage {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.evidences p {
  font-weight: 400;
  color: var(--azul-escuro-miau);
}

.evidencesRowImage h3 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--azul-escuro-miau);
}

.evidencesRowImage p {
  font-weight: 200;
  font-size: 0.8rem;
  color: var(--azul-escuro-miau);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

/* Mobile */
@media (max-width: 700px) {
  .homeText {
    text-align: center;
    font-size: 2rem;
  }

  .homeSectionOneRow {
    flex-direction: column;
  }

  .homeParagraph {
    font-size: 0.5rem;
    max-width: 55ch;
    text-align: center;
  }

  .techTitle {
    max-width: 18ch;
    font-size: 2rem;
    text-align: center;
  }

  .rowWrapper {
    flex-direction: column;
  }

  .wrapperContainerSecondSection {
    margin-top: 10rem;
    margin-bottom: 5rem;
    height: 20%;
    background-color: var(--blanco-miau);
  }

  .containerBox {
    align-items: normal;
    width: 100%;
  }

  .microBoxIconContainer {
    justify-content: center;
  }

  .boxParagraph {
    text-align: center;
  }

  .loveCareTitle {
    font-size: 1.5rem;
    max-width: 18ch;
    text-align: center;
    margin-bottom: 5rem;
  }
}