.main {
  padding: 0rem 2rem;
}

.backgroundBlueMiau {
  background-color: var(--blue-miau);
}

.loveCareTitle {
  color: var(--blanco-miau);
  font-weight: 700;
}

.homeParagraphWrapper {
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 2.5rem;
}

.bolder {
  font-weight: 700;
}

.homeText {
  word-spacing: 0.3rem;
}

.homeParagraph {
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  max-width: 50ch;
  margin-top: 10%;
}

.wrapper {
  min-height: 85vh;
  padding: 0rem 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5rem;
}

.homeSectionOneRow {
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}

.headerWrapperTitle {
  width: 80%;
}

.techTitle {
  font-weight: 700;
  margin-bottom: 1rem;
}

.homeSectionRowImg {
  position: relative;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 65/45;
  bottom: 4rem;
}

.wrapperAlignSections {
  align-items: center;
}

.wrapperContainerSecondSection {
  width: 100%;
  height: 45vh;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: var(--md-radius);
  background-color: var(--blanco-miau);
}

.rowWrapper {
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1rem;
}


.microBoxIconContainer {
  flex-direction: row;
  column-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  width: 100%;
}

.microBoxMarginInRight {
  margin-right: 7.1rem;
}

.containerBox {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  width: 16rem;
  height: 10rem;
  border-radius: var(--md-radius);
  position: relative;
}

.containerBoxBlue {
  background-color: var(--blue-miau);
  bottom: 4rem;
  position: relative;
}

.boxParagraph {
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--paragraph-light-blue);
}

.grayParagraphColor {
  color: var(--paragraph-light-gray) !important;
}

.boxTitle {
  color: var(--blanco-miau);
}

.blueBoxTitle {
  color: var(--azul-escuro-miau);
}

.pulse {
  animation: pulseAnimate 2s ease-out infinite;
  opacity: 1;
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.loveCareContainer {

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.5rem;
  width: 18rem;
  height: 25rem;
  text-align: center;
  background-color: var(--blanco-miau);
  border-radius: var(--md-radius);
  white-space: pre-line;
}

.loveCareContainer h3 {
  color: var(--azul-escuro-miau);
  margin-top: 5rem;
}

.loveCareContainer p {
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--paragraph-light-gray);
}

.loveCareContainer div {
  position: relative;
}


.imageBottomGap {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%)
}

.firstTester {
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.firstTester h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

.firstTester div {
  /* width: 46%; */
  flex-direction: column;
  align-items: flex-start;
}


.mockupMobileImg {
  margin-right: 2%;
  /* position: absolute;
  top: -1.2rem;
  left: 70%; */
  /* transform: translateX(-50%) */
}

.wrapperEvidences {
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.wrapperEvidences h2 {
  font-weight: 600;
  color: var(--blanco-miau);
}

.wrapperEvidences p {
  font-weight: 200;
  color: var(--blanco-miau);
}

.wrapperEvidencesRow {
  flex-direction: row;
  column-gap: 3rem;
}

.evidences {
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
  height: 150px;
  background-color: var(--blanco-miau);
  border-radius: var(--min-radius);
}

.evidencesRowImage {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.evidences p {
  font-weight: 400;
  color: var(--azul-escuro-miau);
}

.evidencesRowImage h3 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--azul-escuro-miau);
}

.wrapperLoveCare {
  padding: 0 0 2rem 0;
  justify-content: center;
  gap: 2rem;
}

.evidencesRowImage p {
  font-weight: 200;
  font-size: 0.8rem;
  color: var(--azul-escuro-miau);
}

.darkBlueBackground {
  background-color: var(--azul-escuro-miau);
}

.partnersTxtWrapper h2 {
  color: var(--blanco-miau);
  font-weight: 700;
  z-index: 10;
}

.partnersTxtWrapper p {
  color: var(--blanco-miau);
  max-width: 90ch;
  font-weight: 200;
}

.partnersTxtWrapper {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mockupPartners {
  position: relative;
  width: 150%;
  z-index: 5;
  max-width: 900px;
  aspect-ratio: 70/70;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

/* Mobile */
@media (max-width: 700px) {
  .homeText {
    text-align: center;
    font-size: 2rem;
    max-width: 20ch;
    /* margin-top: 15%; */
  }

  #registerButton {
    display: none;
  }

  .homeSectionOneRow {
    flex-direction: column;
  }

  .homeParagraph {
    font-size: 1rem;
    margin-bottom: 2rem;
    max-width: 55ch;
    text-align: center;
  }

  .techTitle {
    max-width: 18ch;
    font-size: 2rem;
    text-align: center;
  }

  .rowWrapper {
    flex-direction: column;
  }

  .wrapperContainerSecondSection {
    margin-top: 10rem;
    margin-bottom: 5rem;
    height: 20%;
    background-color: var(--blanco-miau);
  }

  .containerBox {
    align-items: normal;
    width: 100%;
  }

  .microBoxIconContainer {
    justify-content: center;
  }

  .boxParagraph {
    text-align: center;
  }

  .wrapperLoveCare {
    flex-direction: column;
  }

  .loveCareTitle {
    font-size: 1.5rem;
    max-width: 18ch;
    text-align: center;
    margin-bottom: 5rem;
  }

  .firstTester {
    flex-direction: column;
    overflow: visible;
  }

  .firstTester h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
  }

  .firstTester p {
    text-align: center;
  }

  .firstTester div {
    width: 100%;
  }


  .wrapperEvidences p {
    font-size: 0.9rem;
    max-width: 40ch;
    text-align: center;
  }

  .partnersTxtWrapper {
    margin-bottom: 90%;
    text-align: center;
  }

  .mockupPartners {
    position: absolute;
    width: 80%;
    margin-top: 20rem;
    aspect-ratio: 70/70;
  }

  .homeSectionRowImg {
    bottom: 0;
  }

}